language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7-dev"
  - "nightly"
install:
  - pip install .
  - pip install coveralls
script:
  - coverage run setup.py pytest
after_success:
  - coveralls
