language: python
install:
  - pip install .
  - pip install coveralls
script:
  - coverage run setup.py pytest
after_success:
  - coveralls
jobs:
  include:
    - python: 3.5
    - python: 3.6
    - python: 3.7
    - python: 3.8
    - python: nightly
  allow_failures:
    - python: nightly
  fast_finish: true
